/* .sub_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub_list div {
    border: 2px solid white;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.sub_list div:hover {
    background-color: #414141;
}

.page-container {
    display: flex;
    flex-direction: column;
} */