form {
    margin-top: 20px;
    width: 60%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.form-container {
    border: 2px solid white;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}


form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 8px;
    color: white;
}

form textarea {
    resize: none;
    /* overflow-y: scroll; */
    height: max-content;
    min-height: 300px;
    width: 100%;
    background-color: transparent;
    border: none;
    /* border-bottom: 2px solid white; */
    color: white;
    padding: 8px;
}

textarea:focus-visible, input:focus-visible {
    outline: none;
    /* border: none; */
}

.buttons {
    align-self: flex-end;
}
button {
    align-self: flex-end;

}

/* input:not(:last-child){
    border-bottom: 2px solid white;
} */

.last-child {
    border-bottom: none;
}