.logoutBtn {
    background-color: transparent;
    padding: 12px 17px;
    border: none;
    color: var(--primary);
    font-weight: 800;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    font-family: 'Archivo Black', sans-serif;
}

.logoutBtn:hover {
    color: var(--accent);
    background-color: transparent;
}

