.searchbar {
    background-color: var(--primary);
}

ul form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0px;
}

input::placeholder {
    color: var(--accent);
}