.searchbar {
    background-color: var(--primary);
}

ul form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0px;
}

input::placeholder {
    color: var(--accent);
}

.search-results:hover {
    background-color: var(--highlight);
}

.results-box {
    opacity: 0;
}

.searchbar:focus-visible ~ .results-box {
    opacity: 1;
    pointer-events: auto;
}