.page-container {
    width: 60%;
    height: 100%;
    padding: 40px 0;
}

.user-controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #64B39B;
}

button:not(:last-child) {
    margin-right: 10px;
}

.deleteBtn:hover {
    background-color: #c24b4b;
}

.editBtn:hover {
    background-color: rgb(238, 210, 83);
}

.subreddit-details {
    padding-bottom: 20px;
}